.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 28px;
}

.a11y {
  position: fixed;
  transform: translateX(-10000px);
}
